*.o
*.so
*.la
*.lo
*~

.deps
.dirstamp
.libs/
autom4te.cache/
build-aux/
aclocal.m4
install-sh
libtool

configure
/config.h
config.h.in
config.log
config.mak
config.status
stamp-h1
stamp-h2

Makefile.in

libjpeg.map
jconfig.h
tjbenchtest

fmtconv/build/unix/Makefile
fmtconv/build/unix/m4/

imagereader/libjpeg-turbo/Makefile
imagereader/libjpeg-turbo/config.h
imagereader/libjpeg-turbo/md5/Makefile
imagereader/libjpeg-turbo/m4/
imagereader/libjpeg-turbo/simd/Makefile

