*.o
*.so
*.a
*.la
*.lo
*~

.deps
.depend
.dirstamp
.libs/
autom4te.cache/
build-aux/
aclocal.m4
install-sh
libtool

/autogen-cleanup.sh
/configure
/config.h
config.h.in
config.log
config.mak
config.status
config.guess
config.sub
stamp-h1
stamp-h2

Makefile.in

/ffmpeg/
/ffmpeg_libs/

libjpeg.map
jconfig.h
tjbenchtest
/plugins/imagereader/libjpeg-turbo/configure
/plugins/imagereader/libjpeg-turbo/Makefile
/plugins/imagereader/libjpeg-turbo/config.h
/plugins/imagereader/libjpeg-turbo/jconfigint.h
/plugins/imagereader/libjpeg-turbo/md5/Makefile
/plugins/imagereader/libjpeg-turbo/m4/
/plugins/imagereader/libjpeg-turbo/simd/Makefile
/plugins/imagereader/libjpeg-turbo/stamp-h3

liblsmash.pc
/plugins/lsmashsource/libs/
/plugins/lsmashsource/lsmash/config.h
/plugins/lsmashsource/lsmash/config.mak2
/plugins/lsmashsource/lsmash/liblsmash.ver

/plugins/waifu2x-w2xc/libw2xc/conv
/plugins/waifu2x-w2xc/libw2xc/modelHandler_OpenCL.cl.h
/plugins/waifu2x-w2xc/modelHandler_sse.ii
/plugins/waifu2x-w2xc/modelHandler_sse.s

