*.o
*.la
*.lo
*.so
*.dll
.libs
.pc

*.debhelper.log
build.log

/debian-upstream/autoreconf.after
/debian-upstream/autoreconf.before
/debian

.deps/
m4/
autom4te.cache/
build-aux/

.dirstamp
aclocal.m4
libtool
config.h.in
config.log
config.status
configure
config.mak
Makefile
Makefile.in

