#!/usr/bin/make -f

export V=1

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)


%:
	dh ${@} --parallel

override_dh_auto_configure:
	./build.sh --prefix=/usr --libdir=/usr/lib/$(DEB_HOST_MULTIARCH)

override_dh_auto_clean:
	$(MAKE) clobber || true

override_dh_install:
	dh_install -pvapoursynth-extra-plugins -Xnnedi3
	dh_install -pvapoursynth-nnedi3-plugin

override_dh_builddeb:
	dh_builddeb -- -Zxz -z9

