#!/usr/bin/make -f

export V=1


%:
	dh ${@} --parallel --with autoreconf

override_dh_autoreconf:
	dh_autoreconf ./autogen.sh

override_dh_auto_clean:
	touch config.mak
	dh_auto_clean
	rm -f nnedi3/src/nnedi3_weights.bin

override_dh_auto_install:
	touch nnedi3/src/nnedi3_weights.bin
	dh_auto_install

override_dh_install:
	dh_install -pvapoursynth-extra-plugins -Xnnedi3
	dh_install --remaining-packages

override_dh_strip:
	dh_strip --dbg-package=vapoursynth-extra-plugins-dbg

