#!/usr/bin/make -f

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

export V=1
export CFLAGS=-O3 $(filter-out -O2,$(shell dpkg-buildflags --get CFLAGS))
export CXXFLAGS=-O3 $(filter-out -O2,$(shell dpkg-buildflags --get CXXFLAGS))


%:
	dh ${@} --parallel --with autoreconf

override_dh_autoreconf:
	dh_autoreconf ./autogen.sh

override_dh_auto_clean:
	touch config.mak
	dh_auto_clean
	rm -f nnedi3/src/nnedi3_weights.bin config.mak

override_dh_auto_install:
	touch nnedi3/src/nnedi3_weights.bin
	dh_auto_install

override_dh_install:
	dh_install -pvapoursynth-extra-plugins -Xnnedi3 -X.json
	dh_install --remaining-packages

override_dh_link:
	sed 's/@DEB_HOST_MULTIARCH@/$(DEB_HOST_MULTIARCH)/g' \
		debian/vapoursynth-extra-plugins.links.in > debian/vapoursynth-extra-plugins.links
	dh_link

override_dh_clean:
	dh_clean debian/vapoursynth-extra-plugins.links

override_dh_strip:
	dh_strip --dbg-package=vapoursynth-extra-plugins-dbg

