#!/usr/bin/make -f

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

export V=1
export CFLAGS=-O3
export CXXFLAGS=-O3
export CPPFLAGS=


%:
	dh ${@} --with autoreconf

override_dh_autoreconf:
	./autogen.sh

override_dh_auto_clean:
	touch config.mak
	dh_auto_clean -- autoclean
	rm -f nnedi3/src/nnedi3_weights.bin

override_dh_auto_install:
	touch nnedi3/src/nnedi3_weights.bin
	dh_auto_install

override_dh_install:
	dh_install -pvapoursynth-extra-plugins -Xnnedi3_weights.bin -X.json
	dh_install --remaining-packages

override_dh_link:
	sed 's/@DEB_HOST_MULTIARCH@/$(DEB_HOST_MULTIARCH)/g' \
		debian/vapoursynth-extra-plugins.links.in > debian/vapoursynth-extra-plugins.links
	dh_link

override_dh_makeshlibs:

override_dh_clean:
	dh_clean debian/vapoursynth-extra-plugins.links

